.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
/* shared style for this design  */
.margin-all {
  margin: 0 150px;
}
.color-nav {
  color: #8987a1;
}
.display-flex {
  display: flex;
}

.fresh {
  color: #e95a08;
}
/* header section design  */
.nav-bar {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 18px;
}
.nav-list {
  font-size: 16;
  display: flex;
  gap: 48px;
  padding: 22px 0;
}
.list-items {
  list-style: none;
  display: flex;
  gap: 40px;
}
.list-cart {
  gap: 10px;
}
.home {
  color: #252432;
}

/* Fresh flower section  */
.fresh-flowers {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
}
.fresh-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.fresh-content h1 {
  font-size: 65px;
  font-weight: bold;
}
.fresh-content p {
  margin-top: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
/* Plants Section  */
.plants-section {
  margin: 120px 150px;
}
.plant-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 126px 49px 126px;
}
.plant-content h1 {
  font-size: 50px;
  font-weight: bold;
}
.plant-content p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.card-items {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-title {
  font-size: 22px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 10px;
  margin-top: 20px;
}
.card-amount {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 20px;
}
.card-btn {
  padding: 26px 50px;
  background-color: #e95a08;
  color: #ffffff;
  width: 100%;
  font-weight: 700;
}
.lover-section {
  margin: 200px 150px 130px 150px;
}
.lover-section-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.lover-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 60px;

  width: 50%;
}
.lover-content h1 {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}
.lover-content li {
  list-style: disc;
  font-size: 22px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.img-container {
  position: relative;
}
.img-container,
.img-1 {
  object-fit: cover;
  display: block;
}
.img-2 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -135px;
  left: 390px;
}

/* deals section  */
.deals-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.deals-section h1 {
  font-size: 50px;
  font-weight: bold;
}
.deals-section p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin: 16px 276px 120px 276px;
}
.deals-pictures-sections {
  margin: 0px 150px;
}
.deal-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px;
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.deal-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.deal-items {
  background-position: center;
  border-radius: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #c8c8c8;
}
.item-title {
  font-size: 20px;
  font-weight: bold;
}
.item-description {
  padding: 26px 50px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: 2px underline;
  
}
.item-titles {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}
.item-descriptions {
  padding: 26px 50px;
  text-decoration: underline;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c8c8c8;
  opacity: 0.1;
  filter: brightness(1%);
  filter: contrast(-150%);
}

.item-1 {
  grid-area: item-1;
  background-image:  url("../assets/deal-bloom.png");
}
.item-2 {
  grid-area: item-2;
  background-image: url("../assets/deal-ana.png");

}
.item-3 {

  grid-area: item-3;
  background-image: url("../assets/deal-zabo.png");

}

.deal-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas:
    "item-1 item-3"
    "item-2 item-3";
}

/* responsive design for mobile device  */

@media screen and (max-width: 576px) {
  .nav-bar {
    margin: 13px 16px 28px 16px;
  }
  .nav-bar img {
    width: 63px;
    height: 38px;
  }
  .list-items {
    display: none;
  }
  .margin-all {
    margin: 28px 16px 28px 16px;
  }
  .fresh-flowers {
    margin: 20px 16px;
    flex-direction: column-reverse;
  }
  .fresh-flowers > img {
    margin-bottom: 28px;
  }
  .fresh-content h1 {
    font-size: 24px;
  }
  .fresh-content p {
    margin-top: 13px;
    font-size: 14px;
  }
  .plants-section {
    margin: 28px 16px 28px 16px;
  }
  .plant-content {
    margin: 0;
  }
  .plant-content h1 {
    font-size: 24px;
  }
  .plant-content p {
    font-size: 14px;
    margin: 16px 13px 28px 13px;
  }
  .card-amount {
    font-size: 16px;
  }
  .card-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-btn {
    padding: 20px 30px;
  }

  .lover-section-container {
    flex-direction: column;
  }
  .lover-content h1 {
    margin: 15px 0 0 0px;
  }
  .lover-section {
    margin: 40px 15px 143px 15px;
  }
  .lover-content {
    margin: 0px;
    width: 100%;
  }
  .lover-content ul {
    margin: 15px;
  }
  .lover-content li {
    font-size: 14px;
  }
  .img-container {
    flex-direction: column;
  }

  .img-2 {
    display: none;
  }
  .lover-content h1 {
    font-size: 24px;
  }
  .deals-section h1 {
    font-size: 24px;
  }
  .deals-section p {
    font-size: 14px;
    margin: 16px 28px 51px 28px;
  }
  .deals-pictures-sections {
    margin: 51px 16px 40px 16px;
  }
  .deal-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    grid-template-areas:
      "item-1 "
      "item-2 "
      "item-3";
  }
  .item-titles {
    font-size: 20px;
    font-weight: bold;
}
.item-3 {
  height: 250px;
}
  .item-descriptions {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: 2px underline;
   
}
}
